In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import scipy.stats as scs

# Importing data

In [2]:
df=pd.read_csv('/Users/Jeff/Downloads/Life Expectancy Data 2.csv')

In [3]:
df.head()

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5

# Data cleaning

## Missing values

In [4]:
df.columns

Index(['Country', 'Year', 'Status', 'Life expectancy ', 'Adult Mortality',
       'infant deaths', 'Alcohol', 'percentage expenditure', 'Hepatitis B',
       'Measles ', ' BMI ', 'under-five deaths ', 'Polio', 'Total expenditure',
       'Diphtheria ', ' HIV/AIDS', 'GDP', 'Population',
       ' thinness  1-19 years', ' thinness 5-9 years',
       'Income composition of resources', 'Schooling'],
      dtype='object')

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2938 entries, 0 to 2937
Data columns (total 22 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Country                          2938 non-null   object
 1   Year                             2938 non-null   int64
 2   Status                           2938 non-null   object
 3   Life expectancy                  2928 non-null   float64
 4   Adult Mortality                  2928 non-null   float64
 5   infant deaths                    2938 non-null   int64
 6   Alcohol                          2744 non-null   float64
 7   percentage expenditure           2938 non-null   float64
 8   Hepatitis B                      2385 non-null   float64
 9   Measles                          2938 non-null   int64
 10   BMI                             2904 non-null   float64
 11  under-five deaths                2938 non-null   int64
 12  Polio                            2919 non-null   float64
 13  Total expenditure                2712 non-null   float64
 14  Diphtheria                       2919 non-null   float64
 15   HIV/AIDS                        2938 non-null   float64
 16  GDP                              2490 non-null   float64
 17  Population                       2286 non-null   float64
 18   thinness  1-19 years            2904 non-null   float64
 19   thinness 5-9 years              2904 non-null   float64
 20  Income composition of resources  2771 non-null   float64
 21  Schooling                        2775 non-null   float64
dtypes: float64(16), int64(4), object(2)
memory usage: 505.1+ KB

In [6]:
df.isna().sum()

Country                              0
Year                                 0
Status                               0
Life expectancy                     10
Adult Mortality                     10
infant deaths                        0
Alcohol                            194
percentage expenditure               0
Hepatitis B                        553
Measles                              0
 BMI                                34
under-five deaths                    0
Polio                               19
Total expenditure                  226
Diphtheria                          19
 HIV/AIDS                            0
GDP                                448
Population                         652
 thinness  1-19 years               34
 thinness 5-9 years                 34
Income composition of resources    167
Schooling                          163
dtype: int64

We consider that the population amount doesn't influence the life expentancy, so we decide to drop the column.

In [7]:
drop_cols=[]

In [8]:
drop_cols.append('population')

We decide to drop the rows where the column 'Hepatitis B', 'GDP', 'thinness', 'Life expectancy' and 'Total Expenditure' is missing.

In [9]:
df.drop(df[df['Hepatitis B'].isna()].index.values.tolist(), axis=0, inplace=True)

In [10]:
df.drop(df[df['GDP'].isna()].index.values.tolist(), axis=0, inplace=True)

In [11]:
df.drop(df[df['Total expenditure'].isna()].index.values.tolist(), axis=0, inplace=True)

In [12]:
df.drop(df[df[' thinness  1-19 years'].isna()].index.values.tolist(), axis=0, inplace=True)

In [13]:
df.drop(df[df[' thinness 5-9 years'].isna()].index.values.tolist(), axis=0, inplace=True)

In [14]:
df.drop(df[df['Life expectancy '].isna()].index.values.tolist(), axis=0, inplace=True)

## Columns manipulation

Now we identify every columns that doesn't influence the life expectancy and drop them:
* Country
* Population

In [15]:
drop_cols.append('country')

We rename all the columns in order to delete space

In [16]:
list_cols=df.columns.tolist()
list_cols

['Country',
 'Year',
 'Status',
 'Life expectancy ',
 'Adult Mortality',
 'infant deaths',
 'Alcohol',
 'percentage expenditure',
 'Hepatitis B',
 'Measles ',
 ' BMI ',
 'under-five deaths ',
 'Polio',
 'Total expenditure',
 'Diphtheria ',
 ' HIV/AIDS',
 'GDP',
 'Population',
 ' thinness  1-19 years',
 ' thinness 5-9 years',
 'Income composition of resources',
 'Schooling']

In [17]:
df.columns=['country','year','status','life_expectancy','adult_mortality','infant_deaths','alcohol','percentage_expenditure','hepatitis_b','measles','bmi','under-five deaths','polio','total_expenditure','diphtheria','hiv','gdp','population','thinness_1-19_years','thinness_5-9_years','income_composition_of_resources','schooling']

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1853 entries, 0 to 2937
Data columns (total 22 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   country                          1853 non-null   object
 1   year                             1853 non-null   int64
 2   status                           1853 non-null   object
 3   life_expectancy                  1853 non-null   float64
 4   adult_mortality                  1853 non-null   float64
 5   infant_deaths                    1853 non-null   int64
 6   alcohol                          1853 non-null   float64
 7   percentage_expenditure           1853 non-null   float64
 8   hepatitis_b                      1853 non-null   float64
 9   measles                          1853 non-null   int64
 10  bmi                              1853 non-null   float64
 11  under-five deaths                1853 non-null   int64
 12  polio                            1853 non-null   float64
 13  total_expenditure                1853 non-null   float64
 14  diphtheria                       1853 non-null   float64
 15  hiv                              1853 non-null   float64
 16  gdp                              1853 non-null   float64
 17  population                       1649 non-null   float64
 18  thinness_1-19_years              1853 non-null   float64
 19  thinness_5-9_years               1853 non-null   float64
 20  income_composition_of_resources  1853 non-null   float64
 21  schooling                        1853 non-null   float64
dtypes: float64(16), int64(4), object(2)
memory usage: 333.0+ KB

As we can see, we identify that the column 'Status' is object type.

In [19]:
# Identify all the possible value of Status column
df.status.value_counts()

Developing    1581
Developed      272
Name: status, dtype: int64

In [20]:
# We replace the categorical values by numerical values
dct={
    'Developed':2,
    'Developing':1
    }

df.status=df.status.map(dct)

The column year is int type but we can't consider this column as numerical value. In order to manipulate this columns, we will create dummies.

In [21]:
# We get dummies for the column Year
df1=pd.get_dummies(data=df, columns=['year'])

We drop the column in the list drop_columns

In [22]:
df1.drop(drop_cols, axis=1, inplace=True)

In [23]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1853 entries, 0 to 2937
Data columns (total 35 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   status                           1853 non-null   int64
 1   life_expectancy                  1853 non-null   float64
 2   adult_mortality                  1853 non-null   float64
 3   infant_deaths                    1853 non-null   int64
 4   alcohol                          1853 non-null   float64
 5   percentage_expenditure           1853 non-null   float64
 6   hepatitis_b                      1853 non-null   float64
 7   measles                          1853 non-null   int64
 8   bmi                              1853 non-null   float64
 9   under-five deaths                1853 non-null   int64
 10  polio                            1853 non-null   float64
 11  total_expenditure                1853 non-null   float64
 12  diphtheria                       1853 non-null   float64
 13  hiv                              1853 non-null   float64
 14  gdp                              1853 non-null   float64
 15  thinness_1-19_years              1853 non-null   float64
 16  thinness_5-9_years               1853 non-null   float64
 17  income_composition_of_resources  1853 non-null   float64
 18  schooling                        1853 non-null   float64
 19  year_2000                        1853 non-null   uint8
 20  year_2001                        1853 non-null   uint8
 21  year_2002                        1853 non-null   uint8
 22  year_2003                        1853 non-null   uint8
 23  year_2004                        1853 non-null   uint8
 24  year_2005                        1853 non-null   uint8
 25  year_2006                        1853 non-null   uint8
 26  year_2007                        1853 non-null   uint8
 27  year_2008                        1853 non-null   uint8
 28  year_2009                        1853 non-null   uint8
 29  year_2010                        1853 non-null   uint8
 30  year_2011                        1853 non-null   uint8
 31  year_2012                        1853 non-null   uint8
 32  year_2013                        1853 non-null   uint8
 33  year_2014                        1853 non-null   uint8
 34  year_2015                        1853 non-null   uint8
dtypes: float64(15), int64(4), uint8(16)
memory usage: 318.5 KB

As we can see, now there is no more non-numerical values in the columns

In [24]:
df1.isna().sum()

status                             0
life_expectancy                    0
adult_mortality                    0
infant_deaths                      0
alcohol                            0
percentage_expenditure             0
hepatitis_b                        0
measles                            0
bmi                                0
under-five deaths                  0
polio                              0
total_expenditure                  0
diphtheria                         0
hiv                                0
gdp                                0
thinness_1-19_years                0
thinness_5-9_years                 0
income_composition_of_resources    0
schooling                          0
year_2000                          0
year_2001                          0
year_2002                          0
year_2003                          0
year_2004                          0
year_2005                          0
year_2006                          0
year_2007                          0
year_2008                          0
year_2009                          0
year_2010                          0
year_2011                          0
year_2012                          0
year_2013                          0
year_2014                          0
year_2015                          0
dtype: int64

As we can see there is no more missing values

We check if there is outliers in the column life_expectancy

In [30]:
df1.life_expectancy.describe()

count    1853.000000
mean       70.033459
std         8.612327
min        44.000000
25%        65.300000
50%        72.500000
75%        75.500000
max        89.000000
Name: life_expectancy, dtype: float64

As we can see the min value is 44 and the max value is 89 which is coherent. We didn't identify any outlier.

# Export

We export the data as csv in order to do some vizualisation on Tableau

In [ ]:
df.to_csv('Paries9e_General.csv', sep='/', index=False)

# Modeling

First we determine x and y

In [32]:
y=df1.life_expectancy

x=df1.drop('life_expectancy', axis=1)

In [33]:
from statsmodels.formula.api import ols
from statsmodels.api import OLS