In [3]:
import numpy as np
from scipy.stats import ttest_1samp

In [11]:
patients=np.random.normal(6, 1.7, 100)

Given the sample of 100 patients, test wether the average value of sugar is 5.7.

$H_0 : \mu=5.7
$H_1 : \mu!=5.7

In [12]:
test=ttest_1samp(patients, 5.7)
test

Ttest_1sampResult(statistic=2.2876273853728044, pvalue=0.02428684052791106)

I received 2 parameters:

1. statistics - the value of t observed
2. pvalue - probability of being wrong by rejecting the Null Hypothesis

Given the statistics I can compare it with my t critical based on significance level (1.96 for 5% alpha)

In [13]:
test.statistic>1.96

True

Since the value of statistic is above critical, we conclude that Null Hypothesis should be rejected.

At the same time, we can see that pvalue is significantly smaller than 5%. Therefore by default we can confirm that we reject our H_0 event without calculating the critical t statistics

In [14]:
test.pvalue<0.05

True

Now let's see wether the average value of sugar is 7

In [15]:
test= ttest_1samp(patients, 7)
test

Ttest_1sampResult(statistic=-6.418962911136533, pvalue=4.770811100185462e-09)

In [16]:
patients.mean()

6.0415706378393566

## Paired ttest

In [17]:
import pandas as pd

In [18]:
df=pd.read_csv('https://s3-eu-west-1.amazonaws.com/ih-materials/uploads/data-static/data/module-2/blood_pressure.csv')

In [19]:
df

        before       after
0   136.713072   92.432965
1   134.735618  105.022643
2   127.529115   82.242766
3   144.527126   93.607172
4   124.214720  103.212223
..         ...         ...
95  120.302824   85.128581
96  134.806478  106.925426
97  144.919839   83.105975
98  139.673854   87.560306
99  138.389444   99.392115

[100 rows x 2 columns]

In [21]:
from scipy.stats import ttest_rel

In [22]:
ttest_rel(df.after, df.before)

Ttest_relResult(statistic=-27.291841767560236, pvalue=7.303035069608042e-48)

Since pvalue less than 5%, we reject H_0, therefore experiment is successful, we decreased the blood preasure on average

## Ttest for independant samples

In [24]:
df2=pd.read_csv('https://s3-eu-west-1.amazonaws.com/ih-materials/uploads/data-static/data/module-2/ab_test.csv')

In [25]:
df2

        a      b
0    0.27  13.61
1    6.08  21.53
2   13.74   9.23
3    9.70   5.36
4    7.00  12.90
5    4.77  10.83
6    2.56  10.70
7    7.24  15.57
8    7.30  10.42
9    0.86  18.90
10   3.10  23.95
11  10.31   5.70
12  17.42  12.65
13  14.03   9.78
14   9.09  12.83
15  13.29  18.61
16  16.55  12.94
17   8.14   5.85
18  13.99  22.92
19  10.99  21.46
20  18.35   3.11
21   3.34  15.52
22  11.27   1.51
23  16.02  24.00
24   9.47  14.07
25  11.62  11.97
26   6.83   2.31
27  11.57   2.66
28  20.90  14.14
29   1.97  22.63
30  15.67  10.95
31  19.08   0.59
32   4.60  15.14
33   8.21  21.97
34   6.29  20.22
35  16.26  11.13
36  13.51  13.74
37   8.63   7.02
38   2.73   9.94
39   9.07   7.99
40   6.56  20.37
41  13.31   6.46
42   4.08  11.66
43   9.07  18.62
44   6.65  19.49
45   3.73   2.02
46   1.01   8.48
47  14.57  12.62
48   5.20  13.22
49  11.77   4.01

In [26]:
from scipy.stats import ttest_ind

In [27]:
ttest_ind(df2.a, df2.b)

Ttest_indResult(statistic=-2.637533181209767, pvalue=0.009713140852447347)

Since pvalue is lower than 5%, we confirm that there is a difference and since statistics is below 0, we deduce that version a has lower engagement than version b.

In [28]:
ttest_ind(df2.a, df2.b, equal_var=False)

Ttest_indResult(statistic=-2.637533181209767, pvalue=0.009776243024828825)