# 1 Numpy

In [1]:
import numpy as np

In [2]:
a=np.random.random((2,2))

In [3]:
a

array([[0.23931552, 0.75187026],
       [0.01237283, 0.59763569]])

In [4]:
a[0,0]

0.239315522000634

In [5]:
a[1,0]

0.012372825428552892

In [6]:
a.round(2)

array([[0.24, 0.75],
       [0.01, 0.6 ]])

In [7]:
a

array([[0.23931552, 0.75187026],
       [0.01237283, 0.59763569]])

In [9]:
a[0]

array([0.23931552, 0.75187026])

In [11]:
a[:,0]

array([0.23931552, 0.01237283])

In [12]:
b=np.random.random((4,3,2))

In [13]:
#three dimensional tensor
b

array([[[0.10813192, 0.86231848],
        [0.54852418, 0.18924932],
        [0.45150818, 0.28630058]],

       [[0.25483113, 0.39519883],
        [0.73571869, 0.04890793],
        [0.03546335, 0.22034117]],

       [[0.03277576, 0.81557573],
        [0.01679562, 0.04379091],
        [0.15709571, 0.5952473 ]],

       [[0.31365547, 0.96122203],
        [0.41702875, 0.77736893],
        [0.48300629, 0.8531904 ]]])

In [14]:
#4 dimensional tensor
c=np.random.random((5,4,3,2))

In [15]:
b[3]

array([[0.31365547, 0.96122203],
       [0.41702875, 0.77736893],
       [0.48300629, 0.8531904 ]])

In [18]:
b[3,1]

array([0.41702875, 0.77736893])

In [19]:
b[:,1]

array([[0.54852418, 0.18924932],
       [0.73571869, 0.04890793],
       [0.01679562, 0.04379091],
       [0.41702875, 0.77736893]])

In [20]:
b[:,:,0]

array([[0.10813192, 0.54852418, 0.45150818],
       [0.25483113, 0.73571869, 0.03546335],
       [0.03277576, 0.01679562, 0.15709571],
       [0.31365547, 0.41702875, 0.48300629]])

# 2. Lambda functions

In [21]:
def square_function (x):
    return x*x

In [23]:
square_function(2)

4

In [25]:
ssquare=lambda x: x*x

In [26]:
ssquare(2)

4

In [27]:
summator=lambda x,y: x+y

In [28]:
summator(2,3)

5

In [30]:
div=lambda x,y: x/y if y!=0 else 0

In [31]:
div(2,3)

0.6666666666666666

In [32]:
div(2,0)

0

## 2.1 Create function that returns a function

In [33]:
def generate_range (lower):
    return lambda upper: range(lower,upper)

In [35]:
range(10)

range(0, 10)

In [36]:
custom_range=generate_range(5)

In [37]:
custom_range(10)

range(5, 10)

## 2.2 Lambda + list comprehensions

In [38]:
ssquare=lambda x: x*x

In [39]:
[ssquare(i) for i in range(20)]

[0,
 1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361]

In [40]:
topics=['Python','MySQL','Pandas','Web Scraping','Data viz','Statistics','Machine Learning']

In [41]:
[i.lower().replace(' ','_') for i in topics]

['python',
 'mysql',
 'pandas',
 'web_scraping',
 'data_viz',
 'statistics',
 'machine_learning']

In [42]:
[(lambda x: x.lower().replace(' ','_'))(i) for i in topics]

['python',
 'mysql',
 'pandas',
 'web_scraping',
 'data_viz',
 'statistics',
 'machine_learning']

In [45]:
list(map(lambda x: x.lower().replace(' ','_'), topics))

['python',
 'mysql',
 'pandas',
 'web_scraping',
 'data_viz',
 'statistics',
 'machine_learning']

## 2.3 Another example

In [49]:
dct={i:len(i) for i in topics}

In [50]:
import operator
sorted(dct.items(), key=operator.itemgetter(1), reverse=True)

[('Machine Learning', 16),
 ('Web Scraping', 12),
 ('Statistics', 10),
 ('Data viz', 8),
 ('Python', 6),
 ('Pandas', 6),
 ('MySQL', 5)]

In [51]:
dict(sorted(dct.items(), reverse=True, key=lambda x: x[1]))

{'Machine Learning': 16,
 'Web Scraping': 12,
 'Statistics': 10,
 'Data viz': 8,
 'Python': 6,
 'Pandas': 6,
 'MySQL': 5}

## 2.4 Pros and cons

Disadvantages:
1. Not every function can be written as lambda function
2. Overcomplication in some cases

Advantages:
1. Concise
2. Short
3. Return automatically
4. Can be passed without variable

In [52]:
(lambda : 2+3)()

5

# 3 Map, Filter, Reduce

## 3.1 Map

In [54]:
def func (x):
    return x%2==0

In [55]:
l=[10,11,13,17,18]

In [57]:
func(l)

TypeError: unsupported operand type(s) for %: 'list' and 'int'

In [58]:
[func(i) for i in l]

[True, False, False, False, True]

In [59]:
list(map(func,l))

[True, False, False, False, True]

In [60]:
import pandas as pd
import numpy as np

In [61]:
df=pd.DataFrame ([[1,2,3],[2,3,np.nan]])

In [62]:
df

   0  1    2
0  1  2  3.0
1  2  3  NaN

In [63]:
def ff (x):
    return float(x)

In [64]:
df[0].map(ff)

0    1.0
1    2.0
Name: 0, dtype: float64

**IMPORTANT!**
'map()' only works with pd.Series

In [66]:
df[1].map(lambda x: x**2)

0    4
1    9
Name: 1, dtype: int64

In [67]:
dct ={1:'apple',2:'plum'}

In [68]:
dct

{1: 'apple', 2: 'plum'}

In [69]:
df[0].map(dct)

0    apple
1     plum
Name: 0, dtype: object

## 3.2 Filter

In [70]:
list(map(func, l))

[True, False, False, False, True]

In [71]:
l

[10, 11, 13, 17, 18]

In [72]:
list(filter(func,l))

[10, 18]

In [74]:
df.index=['Mouse','cat']

In [75]:
df

       0  1    2
Mouse  1  2  3.0
cat    2  3  NaN

In [76]:
df.filter(like='ouse', axis=0)

       0  1    2
Mouse  1  2  3.0

In [77]:
df.loc[df.index.str.contains('ouse')]

       0  1    2
Mouse  1  2  3.0

In [78]:
df.filter(items=[0,2], axis=1)

       0    2
Mouse  1  3.0
cat    2  NaN

In [79]:
df.filter(items=[0,2])

       0    2
Mouse  1  3.0
cat    2  NaN

## 3.3 Reduce

In [80]:
def func (a,b): return a+b

In [81]:
from functools import reduce

In [82]:
l

[10, 11, 13, 17, 18]

In [83]:
reduce(func, l)

69

In [84]:
sum(l)

69

In [85]:
#Select the biggest number out of 2
def func (a,b):
    return a if a>b else b

In [86]:
reduce(func,l)

18

In [87]:
l=[10,21,12,14,15]

In [88]:
reduce(func,l)

21

In [89]:
# Really dumb function just for the sake of another example

def func(a,b):
    if (b%2==0) or ((a+b)>35):
        return a
    else:
        return b

In [90]:
func(10,21)

21

In [91]:
func(21,13)

13

In [93]:
l=[10,21,13,17,18]

In [94]:
reduce(func,l)

17

# 4. MAAM - Map, Apply, ApplyMap

In [95]:
df=pd.read_csv('https://ironhack.school/asset-v1:IRONHACK+DAFT+201910_PAR+type@asset+block@IMDB-Movie-Data.csv')

In [96]:
df.head()

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0

In [97]:
df.shape

(1000, 12)

In [98]:
df.Rating.max()

9.0

In [99]:
df.Rating.min()

1.9

In [100]:
df.Rating/2

0      4.05
1      3.50
2      3.65
3      3.60
4      3.10
       ...
995    3.10
996    2.75
997    3.10
998    2.80
999    2.65
Name: Rating, Length: 1000, dtype: float64

In [101]:
df.Rating.map(lambda x: x/2)

0      4.05
1      3.50
2      3.65
3      3.60
4      3.10
       ...
995    3.10
996    2.75
997    3.10
998    2.80
999    2.65
Name: Rating, Length: 1000, dtype: float64

In [102]:
def column_range(x):
    """x is a pandas series"""
    return x.max()-x.min()

In [103]:
df.Rating.map(column_range)

AttributeError: 'float' object has no attribute 'max'

In [104]:
df[['Rating']].apply(column_range)

Rating    7.1
dtype: float64

In [105]:
df[['Rating','Runtime (Minutes)']].apply(column_range)

Rating                 7.1
Runtime (Minutes)    125.0
dtype: float64

In [106]:
def column_range(x):
    """x is a pandas series"""
    return x.max()-x.min() if x.dtype in (int,float) else len(x)

In [107]:
df.apply(column_range)

Rank                      999.00
Title                    1000.00
Genre                    1000.00
Description              1000.00
Director                 1000.00
Actors                   1000.00
Year                       10.00
Runtime (Minutes)         125.00
Rating                      7.10
Votes                 1791855.00
Revenue (Millions)        936.63
Metascore                  89.00
dtype: float64

* Map applies the function provided to every values of Series
* Apply apllies the function provided to every value of Series or to every Serie in DataFrame

In [108]:
df.Rating.apply(lambda x: x/2)

0      4.05
1      3.50
2      3.65
3      3.60
4      3.10
       ...
995    3.10
996    2.75
997    3.10
998    2.80
999    2.65
Name: Rating, Length: 1000, dtype: float64

In [109]:
df.Rating.map(lambda x: x/2)

0      4.05
1      3.50
2      3.65
3      3.60
4      3.10
       ...
995    3.10
996    2.75
997    3.10
998    2.80
999    2.65
Name: Rating, Length: 1000, dtype: float64

In [110]:
df.map()

AttributeError: 'DataFrame' object has no attribute 'map'

In [111]:
def missing_col (x):
    return x.isna().sum()

In [112]:
df.apply(missing_col)

Rank                    0
Title                   0
Genre                   0
Description             0
Director                0
Actors                  0
Year                    0
Runtime (Minutes)       0
Rating                  0
Votes                   0
Revenue (Millions)    128
Metascore              64
dtype: int64

In [113]:
df.isna().sum()

Rank                    0
Title                   0
Genre                   0
Description             0
Director                0
Actors                  0
Year                    0
Runtime (Minutes)       0
Rating                  0
Votes                   0
Revenue (Millions)    128
Metascore              64
dtype: int64

## 4.1 All above + lambda

In [122]:
df[df['Genre'].str.lower().str.contains('action')].head()

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0
5,6,The Great Wall,"Action,Adventure,Fantasy",European mercenaries searching for black powde...,Yimou Zhang,"Matt Damon, Tian Jing, Willem Dafoe, Andy Lau",2016,103,6.1,56036,45.13,42.0
8,9,The Lost City of Z,"Action,Adventure,Biography","A true-life drama, centering on British explor...",James Gray,"Charlie Hunnam, Robert Pattinson, Sienna Mille...",2016,141,7.1,7188,8.01,78.0
12,13,Rogue One,"Action,Adventure,Sci-Fi",The Rebel Alliance makes a risky move to steal...,Gareth Edwards,"Felicity Jones, Diego Luna, Alan Tudyk, Donnie...",2016,133,7.9,323118,532.17,65.0

In [123]:
# I don't want to see action fantasy movies in my selection.

df[df['Genre'].str.lower().str.contains('action')&(~df['Genre'].str.lower().str.contains('fantasy'))]

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
8,9,The Lost City of Z,"Action,Adventure,Biography","A true-life drama, centering on British explor...",James Gray,"Charlie Hunnam, Robert Pattinson, Sienna Mille...",2016,141,7.1,7188,8.01,78.0
12,13,Rogue One,"Action,Adventure,Sci-Fi",The Rebel Alliance makes a risky move to steal...,Gareth Edwards,"Felicity Jones, Diego Luna, Alan Tudyk, Donnie...",2016,133,7.9,323118,532.17,65.0
14,15,Colossal,"Action,Comedy,Drama",Gloria is an out-of-work party girl forced to ...,Nacho Vigalondo,"Anne Hathaway, Jason Sudeikis, Austin Stowell,...",2016,109,6.4,8612,2.87,70.0
17,18,Jason Bourne,"Action,Thriller",The CIA's most dangerous former operative is d...,Paul Greengrass,"Matt Damon, Tommy Lee Jones, Alicia Vikander,V...",2016,123,6.7,150823,162.16,58.0
...,...,...,...,...,...,...,...,...,...,...,...,...
954,955,Death Race,"Action,Sci-Fi,Thriller",Ex-con Jensen Ames is forced by the warden of ...,Paul W.S. Anderson,"Jason Statham, Joan Allen, Tyrese Gibson, Ian ...",2008,105,6.4,173731,36.06,43.0
958,959,3 Days to Kill,"Action,Drama,Thriller",A dying CIA agent trying to reconnect with his...,McG,"Kevin Costner, Hailee Steinfeld, Connie Nielse...",2014,117,6.2,73567,30.69,40.0
968,969,Wrecker,"Action,Horror,Thriller",Best friends Emily and Lesley go on a road tri...,Micheal Bafaro,"Anna Hutchison, Andrea Whitburn, Jennifer Koen...",2015,83,3.5,1210,NaN,37.0
969,970,The Lone Ranger,"Action,Adventure,Western",Native American warrior Tonto recounts the unt...,Gore Verbinski,"Johnny Depp, Armie Hammer, William Fichtner,To...",2013,150,6.5,190855,89.29,NaN
993,994,Resident Evil: Afterlife,"Action,Adventure,Horror",While still out to destroy the evil Umbrella C...,Paul W.S. Anderson,"Milla Jovovich, Ali Larter, Wentworth Miller,K...",2010,97,5.9,140900,60.13,37.0

I want to have a very specific selection of movies. I am a bit spoiled movie critique and I want to see the following:
1. It should be an Action movie
2. The max number of genres that movie represent is 2
3. I don't like Action Fantasy movies. So I will only accept Action with Thriller or Adventure.

['Action',
'Action, Adventure',
'Action, Thriller']

In [129]:
df[df.Genre.str.split(',').map(lambda x: len(x)<3)]; #Number of genres

df[df['Genre'].str.lower().str.contains('action')]; #Contains action

df[df['Genre'].str.lower().str.contains('action')& #option 1 for #3
   ((df['Genre'].str.lower().str.contains('thriller'))|
    (df['Genre'].str.lower().str.contains('adventure')))]

#option 2 for #3
df[df.Genre.str.lower().str.split(',').map(lambda x: (set(x)-set(['action','thriller','adventure']))==set())]

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
17,18,Jason Bourne,"Action,Thriller",The CIA's most dangerous former operative is d...,Paul Greengrass,"Matt Damon, Tommy Lee Jones, Alicia Vikander,V...",2016,123,6.7,150823,162.16,58.0
123,124,Boyka: Undisputed IV,Action,In the fourth installment of the fighting fran...,Todor Chapkanov,"Scott Adkins, Teodora Duhovnikova, Alon Aboutb...",2016,86,7.4,10428,NaN,NaN
124,125,The Dark Knight Rises,"Action,Thriller",Eight years after the Joker's reign of anarchy...,Christopher Nolan,"Christian Bale, Tom Hardy, Anne Hathaway,Gary ...",2012,164,8.5,1222645,448.13,78.0
164,165,Casino Royale,"Action,Adventure,Thriller","Armed with a licence to kill, Secret Agent Jam...",Martin Campbell,"Daniel Craig, Eva Green, Judi Dench, Jeffrey W...",2006,144,8.0,495106,167.01,80.0
169,170,Spectre,"Action,Adventure,Thriller",A cryptic message from Bond's past sends him o...,Sam Mendes,"Daniel Craig, Christoph Waltz, Léa Seydoux, Ra...",2015,148,6.8,308981,200.07,60.0
233,234,Mission: Impossible - Rogue Nation,"Action,Adventure,Thriller",Ethan and team take on their most impossible m...,Christopher McQuarrie,"Tom Cruise, Rebecca Ferguson, Jeremy Renner, S...",2015,131,7.4,257472,195.00,75.0
270,271,Skyfall,"Action,Adventure,Thriller",Bond's loyalty to M is tested when her past co...,Sam Mendes,"Daniel Craig, Javier Bardem, Naomie Harris, Ju...",2012,143,7.8,547386,304.36,81.0
282,283,Death Proof,Thriller,Two separate sets of voluptuous women are stal...,Quentin Tarantino,"Kurt Russell, Zoë Bell, Rosario Dawson, Vaness...",2007,113,7.1,220236,NaN,NaN
284,285,Hercules,"Action,Adventure","Having endured his legendary twelve labors, He...",Brett Ratner,"Dwayne Johnson, John Hurt, Ian McShane, Joseph...",2014,98,6.0,122838,72.66,47.0
289,290,Iris,Thriller,"Iris, young wife of a businessman, disappears ...",Jalil Lespert,"Romain Duris, Charlotte Le Bon, Jalil Lespert,...",2016,99,6.1,726,NaN,NaN
344,345,Spider-Man 3,"Action,Adventure",A strange black entity from another world bond...,Sam Raimi,"Tobey Maguire, Kirsten Dunst, Topher Grace, Th...",2007,139,6.2,406219,336.53,59.0
368,369,The Amazing Spider-Man,"Action,Adventure",After Peter Parker is bitten by a genetically ...,Marc Webb,"Andrew Garfield, Emma Stone, Rhys Ifans, Irrfa...",2012,136,7.0,474320,262.03,66.0
379,380,The Expendables 3,"Action,Adventure,Thriller",Barney augments his team with new blood for a ...,Patrick Hughes,"Sylvester Stallone, Jason Statham, Jet Li, Ant...",2014,126,6.1,137568,39.29,35.0
410,411,Taken,"Action,Thriller",A retired CIA agent travels across Europe and ...,Pierre Morel,"Liam Neeson, Maggie Grace, Famke Janssen, Lela...",2008,93,7.8,502961,145.00,50.0
433,434,Mission: Impossible - Ghost Protocol,"Action,Adventure,Thriller",The IMF is shut down when it's implicated in t...,Brad Bird,"Tom Cruise, Jeremy Renner, Simon Pegg, Paula P...",2011,132,7.4,382459,209.36,73.0
444,445,The Thinning,Thriller,"""The Thinning"" takes place in a post-apocalypt...",Michael J. Gallagher,"Logan Paul, Peyton List, Lia Marie Johnson,Cal...",2016,81,6.0,4531,NaN,31.0
453,454,Olympus Has Fallen,"Action,Thriller",Disgraced Secret Service agent (and former pre...,Antoine Fuqua,"Gerard Butler, Aaron Eckhart, Morgan Freeman,A...",2013,119,6.5,214994,98.90,41.0
560,561,The Expendables,"Action,Adventure,Thriller",A CIA operative hires a team of mercenaries to...,Sylvester Stallone,"Sylvester Stallone, Jason Statham, Jet Li, Dol...",2010,103,6.5,283282,102.98,45.0
580,581,Kickboxer: Vengeance,Action,A kick boxer is out to avenge his brother.,John Stockwell,"Dave Bautista, Alain Moussi, Gina Carano, Jean...",2016,90,4.9,6809,131.56,37.0
624,625,Taken 3,"Action,Thriller",Ex-government operative Bryan Mills is accused...,Olivier Megaton,"Liam Neeson, Forest Whitaker, Maggie Grace,Fam...",2014,109,6.0,144715,89.25,26.0
698,699,Live Free or Die Hard,"Action,Adventure,Thriller",John McClane and a young hacker join forces to...,Len Wiseman,"Bruce Willis, Justin Long, Timothy Olyphant, M...",2007,128,7.2,347567,134.52,69.0
729,730,The Guest,Thriller,A soldier introduces himself to the Peterson f...,Adam Wingard,"Dan Stevens, Sheila Kelley, Maika Monroe, Joel...",2014,100,6.7,71069,0.32,76.0
746,747,Only for One Night,Thriller,A married womans husband with a perfect life c...,Chris Stokes,"Brian White, Karrueche Tran, Angelique Pereira...",2016,86,4.6,313,NaN,60.0
770,771,Quantum of Solace,"Action,Adventure,Thriller",James Bond descends into mystery as he tries t...,Marc Forster,"Daniel Craig, Olga Kurylenko, Mathieu Amalric,...",2008,106,6.6,347798,168.37,58.0
777,778,Final Girl,"Action,Thriller",A man teaches a young woman how to become a co...,Tyler Shields,"Abigail Breslin, Wes Bentley, Logan Huffman,Al...",2015,90,4.7,9026,NaN,56.0
844,845,Unstoppable,"Action,Thriller","With an unmanned, half-mile-long freight train...",Tony Scott,"Denzel Washington, Chris Pine, Rosario Dawson,...",2010,98,6.8,157499,81.56,69.0
848,849,Mean Dreams,Thriller,"Follows Casey and Jonas, two teenagers despera...",Nathan Morlando,"Sophie Nélisse, Josh Wiggins, Joe Cobden, Bill...",2016,108,6.3,1066,NaN,64.0
869,870,Mission: Impossible III,"Action,Adventure,Thriller",Agent Ethan Hunt comes into conflict with a da...,J.J. Abrams,"Tom Cruise, Michelle Monaghan, Ving Rhames, Ph...",2006,126,6.9,270429,133.38,66.0
872,873,Red Dawn,"Action,Thriller",A group of teenagers look to save their town f...,Dan Bradley,"Chris Hemsworth, Isabel Lucas, Josh Hutcherson...",2012,93,5.4,64584,44.80,31.0
911,912,I Am the Pretty Thing That Lives in the House,Thriller,A young nurse takes care of elderly author who...,Oz Perkins,"Ruth Wilson, Paula Prentiss, Lucy Boynton, Bob...",2016,87,4.7,4204,NaN,68.0
916,917,The Expendables 2,"Action,Adventure,Thriller",Mr. Church reunites the Expendables for what s...,Simon West,"Sylvester Stallone, Liam Hemsworth, Randy Cout...",2012,103,6.6,257395,85.02,51.0
923,924,No Escape,"Action,Thriller","In their new overseas home, an American family...",John Erick Dowdle,"Lake Bell, Pierce Brosnan, Owen Wilson,Chatcha...",2015,103,6.8,57921,27.29,38.0
933,934,Detour,Thriller,A young law student blindly enters into a pact...,Christopher Smith,"Tye Sheridan, Emory Cohen, Bel Powley,Stephen ...",2016,97,6.3,2205,NaN,46.0
942,943,Transpecos,Thriller,For three Border Patrol agents working a remot...,Greg Kwedar,"Johnny Simmons, Gabriel Luna, Clifton Collins ...",2016,86,5.8,1292,NaN,73.0
949,950,Kicks,Adventure,Brandon is a 15 year old whose dream is a pair...,Justin Tipping,"Jahking Guillory, Christopher Jordan Wallace,C...",2016,80,6.1,2417,0.15,69.0

In [134]:
df[df.Genre.str.lower().str.split(',').map(lambda x: (len(x)<3) 
                                           & ('action' in x) 
                                           & ((set(x)-set(['action','thriller','adventure']))==set()))]

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
17,18,Jason Bourne,"Action,Thriller",The CIA's most dangerous former operative is d...,Paul Greengrass,"Matt Damon, Tommy Lee Jones, Alicia Vikander,V...",2016,123,6.7,150823,162.16,58.0
123,124,Boyka: Undisputed IV,Action,In the fourth installment of the fighting fran...,Todor Chapkanov,"Scott Adkins, Teodora Duhovnikova, Alon Aboutb...",2016,86,7.4,10428,NaN,NaN
124,125,The Dark Knight Rises,"Action,Thriller",Eight years after the Joker's reign of anarchy...,Christopher Nolan,"Christian Bale, Tom Hardy, Anne Hathaway,Gary ...",2012,164,8.5,1222645,448.13,78.0
284,285,Hercules,"Action,Adventure","Having endured his legendary twelve labors, He...",Brett Ratner,"Dwayne Johnson, John Hurt, Ian McShane, Joseph...",2014,98,6.0,122838,72.66,47.0
344,345,Spider-Man 3,"Action,Adventure",A strange black entity from another world bond...,Sam Raimi,"Tobey Maguire, Kirsten Dunst, Topher Grace, Th...",2007,139,6.2,406219,336.53,59.0
368,369,The Amazing Spider-Man,"Action,Adventure",After Peter Parker is bitten by a genetically ...,Marc Webb,"Andrew Garfield, Emma Stone, Rhys Ifans, Irrfa...",2012,136,7.0,474320,262.03,66.0
410,411,Taken,"Action,Thriller",A retired CIA agent travels across Europe and ...,Pierre Morel,"Liam Neeson, Maggie Grace, Famke Janssen, Lela...",2008,93,7.8,502961,145.00,50.0
453,454,Olympus Has Fallen,"Action,Thriller",Disgraced Secret Service agent (and former pre...,Antoine Fuqua,"Gerard Butler, Aaron Eckhart, Morgan Freeman,A...",2013,119,6.5,214994,98.90,41.0
580,581,Kickboxer: Vengeance,Action,A kick boxer is out to avenge his brother.,John Stockwell,"Dave Bautista, Alain Moussi, Gina Carano, Jean...",2016,90,4.9,6809,131.56,37.0
624,625,Taken 3,"Action,Thriller",Ex-government operative Bryan Mills is accused...,Olivier Megaton,"Liam Neeson, Forest Whitaker, Maggie Grace,Fam...",2014,109,6.0,144715,89.25,26.0
777,778,Final Girl,"Action,Thriller",A man teaches a young woman how to become a co...,Tyler Shields,"Abigail Breslin, Wes Bentley, Logan Huffman,Al...",2015,90,4.7,9026,NaN,56.0
844,845,Unstoppable,"Action,Thriller","With an unmanned, half-mile-long freight train...",Tony Scott,"Denzel Washington, Chris Pine, Rosario Dawson,...",2010,98,6.8,157499,81.56,69.0
872,873,Red Dawn,"Action,Thriller",A group of teenagers look to save their town f...,Dan Bradley,"Chris Hemsworth, Isabel Lucas, Josh Hutcherson...",2012,93,5.4,64584,44.80,31.0
923,924,No Escape,"Action,Thriller","In their new overseas home, an American family...",John Erick Dowdle,"Lake Bell, Pierce Brosnan, Owen Wilson,Chatcha...",2015,103,6.8,57921,27.29,38.0

## 4.2 Applymap

1. Map works with Series only
2. Apply works with both Series and DataFrame
3. Applympa works only with DataFrames

1. Map works with values in Series
2. Apply works with values in Series and Series in DataFrame
3. Applympa works with values in DataFrame

Calculate the average number of words in description and name.

In every cell of 2 columns I need:
1. Get words
2. Count them

In [135]:
df_d=df[['Title','Description']]

In [136]:
df_d.Description.str.split().map(len).mean()

27.921

In [137]:
df_d.Title.str.split().map(len).mean()

2.605

In [141]:
df_d.applymap(lambda x: len(x.split())).mean()

Title           2.605
Description    27.921
dtype: float64