In [2]:
import pandas as pd

In [3]:
df=pd.read_csv('/Users/Jeff/Downloads/winequality-red.csv')

In [4]:
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [31]:
df=pd.read_csv('/Users/Jeff/Downloads/Europe_crisis.csv')

In [32]:
df.head()

,Unnamed: 0,CC3,Country,Year,Banking Crisis,Systemic Crisis,exch_usd,National Currency,exch_sources,Domestic Debt,Sovereign External debt1,Sovereign External debt2,GDP_Weighted_default,Inflation,Independence,Currency Crises,Inflation Crises
0,0,AUT,Austria,1800.0,0.0,0.0,NaN,"1748-1892-Gulden, 1892-1923-Krone,1923-1998 sc...",Primary source isGFD-RR_IFS official eop; alt1...,0.0,0,0.0,0.00,14.64646464646464,1,1,0.0
1,1,AUT,Austria,1801.0,0.0,0.0,NaN,"1748-1892-Gulden, 1892-1923-Krone,1923-1998 sc...",Primary source isGFD-RR_IFS official eop; alt1...,0.0,0,0.0,0.00,29.24081323858143,1,1,1.0
2,2,AUT,Austria,1802.0,0.0,0.0,NaN,"1748-1892-Gulden, 1892-1923-Krone,1923-1998 sc...",Primary source isGFD-RR_IFS official eop; alt1...,0.0,1,1.0,0.86,11.554948079807115,1,0,0.0
3,3,AUT,Austria,1803.0,0.0,0.0,NaN,"1748-1892-Gulden, 1892-1923-Krone,1923-1998 sc...",Primary source isGFD-RR_IFS official eop; alt1...,0.0,1,1.0,0.86,12.448675361157424,1,0,0.0
4,4,AUT,Austria,1804.0,0.0,0.0,NaN,"1748-1892-Gulden, 1892-1923-Krone,1923-1998 sc...",Primary source isGFD-RR_IFS official eop; alt1...,0.0,1,1.0,0.86,-3.399989463738562,1,1,0.0

In [41]:
df=pd.read_csv('/Users/Jeff/Downloads/archive (31)/test.csv')
df

,points,price,acid,angular,austere,barnyard,bright,butter,cassis,charcoal,...,Italy,New Zealand,Portugal,Romania,South Africa,Spain,Turkey,US,Uruguay,Other
0,88.0,18.0,1,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
1,90.0,30.0,1,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,90.0,17.0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,87.0,45.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,88.0,25.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24179,86.0,19.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24180,92.0,70.0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24181,89.0,38.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
24182,87.0,14.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24183,90.0,20.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [47]:
df=pd.read_csv('/Users/Jeff/Downloads/OnlineNewsPopularity/OnlineNewsPopularity.csv')
df

,url,timedelta,n_tokens_title,n_tokens_content,n_unique_tokens,n_non_stop_words,n_non_stop_unique_tokens,num_hrefs,num_self_hrefs,num_imgs,...,min_positive_polarity,max_positive_polarity,avg_negative_polarity,min_negative_polarity,max_negative_polarity,title_subjectivity,title_sentiment_polarity,abs_title_subjectivity,abs_title_sentiment_polarity,shares
0,http://mashable.com/2013/01/07/amazon-instant-...,731.0,12.0,219.0,0.663594,1.0,0.815385,4.0,2.0,1.0,...,0.100000,0.70,-0.350000,-0.600,-0.200000,0.500000,-0.187500,0.000000,0.187500,593
1,http://mashable.com/2013/01/07/ap-samsung-spon...,731.0,9.0,255.0,0.604743,1.0,0.791946,3.0,1.0,1.0,...,0.033333,0.70,-0.118750,-0.125,-0.100000,0.000000,0.000000,0.500000,0.000000,711
2,http://mashable.com/2013/01/07/apple-40-billio...,731.0,9.0,211.0,0.575130,1.0,0.663866,3.0,1.0,1.0,...,0.100000,1.00,-0.466667,-0.800,-0.133333,0.000000,0.000000,0.500000,0.000000,1500
3,http://mashable.com/2013/01/07/astronaut-notre...,731.0,9.0,531.0,0.503788,1.0,0.665635,9.0,0.0,1.0,...,0.136364,0.80,-0.369697,-0.600,-0.166667,0.000000,0.000000,0.500000,0.000000,1200
4,http://mashable.com/2013/01/07/att-u-verse-apps/,731.0,13.0,1072.0,0.415646,1.0,0.540890,19.0,19.0,20.0,...,0.033333,1.00,-0.220192,-0.500,-0.050000,0.454545,0.136364,0.045455,0.136364,505
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39639,http://mashable.com/2014/12/27/samsung-app-aut...,8.0,11.0,346.0,0.529052,1.0,0.684783,9.0,7.0,1.0,...,0.100000,0.75,-0.260000,-0.500,-0.125000,0.100000,0.000000,0.400000,0.000000,1800
39640,http://mashable.com/2014/12/27/seth-rogen-jame...,8.0,12.0,328.0,0.696296,1.0,0.885057,9.0,7.0,3.0,...,0.136364,0.70,-0.211111,-0.400,-0.100000,0.300000,1.000000,0.200000,1.000000,1900
39641,http://mashable.com/2014/12/27/son-pays-off-mo...,8.0,10.0,442.0,0.516355,1.0,0.644128,24.0,1.0,12.0,...,0.136364,0.50,-0.356439,-0.800,-0.166667,0.454545,0.136364,0.045455,0.136364,1900
39642,http://mashable.com/2014/12/27/ukraine-blasts/,8.0,6.0,682.0,0.539493,1.0,0.692661,10.0,1.0,1.0,...,0.062500,0.50,-0.205246,-0.500,-0.012500,0.000000,0.000000,0.500000,0.000000,1100
39643,http://mashable.com/2014/12/27/youtube-channel...,8.0,10.0,157.0,0.701987,1.0,0.846154,1.0,1.0,0.0,...,0.100000,0.50,-0.200000,-0.200,-0.200000,0.333333,0.250000,0.166667,0.250000,1300

In [44]:
df=pd.read_csv('/Users/Jeff/Downloads/Life Expectancy Data 2.csv')
df

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2933,Zimbabwe,2004,Developing,44.3,723.0,27,4.36,0.000000,68.0,31,...,67.0,7.13,65.0,33.6,454.366654,12777511.0,9.4,9.4,0.407,9.2
2934,Zimbabwe,2003,Developing,44.5,715.0,26,4.06,0.000000,7.0,998,...,7.0,6.52,68.0,36.7,453.351155,12633897.0,9.8,9.9,0.418,9.5
2935,Zimbabwe,2002,Developing,44.8,73.0,25,4.43,0.000000,73.0,304,...,73.0,6.53,71.0,39.8,57.348340,125525.0,1.2,1.3,0.427,10.0
2936,Zimbabwe,2001,Developing,45.3,686.0,25,1.72,0.000000,76.0,529,...,76.0,6.16,75.0,42.1,548.587312,12366165.0,1.6,1.7,0.427,9.8
2937,Zimbabwe,2000,Developing,46.0,665.0,24,1.68,0.000000,79.0,1483,...,78.0,7.10,78.0,43.5,547.358879,12222251.0,11.0,11.2,0.434,9.8

In [39]:
df.Region.value_counts()

Sub-Saharan Africa                 28
Central and Eastern Europe         27
Latin America and Caribbean        23
Western Europe                     20
Middle East and Northern Africa    11
Southeastern Asia                   5
Eastern Asia                        4
North America                       2
Australia and New Zealand           2
Name: Region, dtype: int64