# Notary Register for RealEstate Transactions

In [1]:
from IPython.display import Image

In [2]:
Image(url='http://www.casagrande-labrousse-notaires.com/wp-content/uploads/2016/11/notaire-paris-rue-lincoln-zoom.png')

In [3]:
import pandas as pd
import numpy as np
import json
from string import ascii_uppercase
import itertools
import requests as r

# Import from CSV file

In [4]:
df = pd.read_csv(r'C:\Users\Arthur\Notary Transactions\75109_000AA.csv', sep=';')
df.head()

FileNotFoundError: [Errno 2] No such file or directory: 'C:\\Users\\Arthur\\Notary Transactions\\75109_000AA.csv'

In [ ]:
df.dtypes

# Import JSON file from the API

In [5]:
# function to genere URL for all (fr AA to BF) for the commune 75109 - Paris 9e
lst=[]
def iter_all_strings():
    for size in itertools.count(1):
        for s in itertools.product(ascii_uppercase, repeat=size):
            yield "".join(s)
for s in iter_all_strings():
    if len(s)<2:
        pass
    else:
        lst.append(s)
    if s == 'BF':
        break
print(lst)

['AA', 'AB', 'AC', 'AD', 'AE', 'AF', 'AG', 'AH', 'AI', 'AJ', 'AK', 'AL', 'AM', 'AN', 'AO', 'AP', 'AQ', 'AR', 'AS', 'AT', 'AU', 'AV', 'AW', 'AX', 'AY', 'AZ', 'BA', 'BB', 'BC', 'BD', 'BE', 'BF']

In [8]:
# loop to import all section (fr AA to BF) from the commune 75109 - Paris 9e
lst_df=[]
for i in lst:
    data=r.get(f'https://app.dvf.etalab.gouv.fr/api/mutations3/75109/000{i}')
    data=data.json()
    df = pd.DataFrame(data['mutations'])
    lst_df.append(df) 
db=pd.concat(lst_df, axis=0, ignore_index=True)
db

,id_mutation,date_mutation,numero_disposition,nature_mutation,valeur_fonciere,adresse_numero,adresse_suffixe,adresse_nom_voie,adresse_code_voie,code_postal,...,surface_reelle_bati,nombre_pieces_principales,code_nature_culture,nature_culture,code_nature_culture_speciale,nature_culture_speciale,surface_terrain,longitude,latitude,section_prefixe
0,2019-1072649,2019-12-23,1,Vente,665000.0,47,None,RUE DE DOUAI,2909,75009,...,55.0,4.0,None,None,None,None,nan,2.330953,48.882913,000AA
1,2019-1072739,2019-12-19,1,Vente,18300000.0,106,None,RUE D AMSTERDAM,0300,75009,...,693.0,0.0,None,None,None,None,nan,2.327339,48.883026,000AA
2,2019-1072673,2019-12-16,1,Vente,71000.0,14,None,RUE BALLU,0646,75009,...,nan,0.0,None,None,None,None,nan,2.330517,48.882159,000AA
3,2019-1072512,2019-12-13,1,Vente,1520000.0,1,None,PL ADOLPHE MAX,0065,75009,...,123.0,5.0,None,None,None,None,nan,2.330485,48.883136,000AA
4,2019-1072512,2019-12-13,1,Vente,1520000.0,1,None,PL ADOLPHE MAX,0065,75009,...,6.0,1.0,None,None,None,None,nan,2.330485,48.883136,000AA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13933,2014-1059819,2014-01-13,1,Vente,252000.0,10,None,RUE DE ROCHECHOUART,8289,75009,...,25.0,1,None,None,None,None,None,2.345008,48.877038,000BF
13934,2014-1059714,2014-01-10,1,Vente,540000.0,10,None,RUE MAYRAN,6223,75009,...,60.0,3,None,None,None,None,None,2.344981,48.877407,000BF
13935,2014-1059717,2014-01-10,1,Vente,102000.0,4,None,RUE ROCHAMBEAU,8283,75009,...,nan,0,None,None,None,None,None,2.34667,48.877538,000BF
13936,2014-1059717,2014-01-10,1,Vente,102000.0,4,None,RUE ROCHAMBEAU,8283,75009,...,nan,0,None,None,None,None,None,2.34667,48.877538,000BF
13937,2014-1059709,2014-01-09,1,Vente,443000.0,29,None,RUE DE BELLEFOND,0827,75009,...,43.0,3,None,None,None,None,None,2.346413,48.877644,000BF

In [7]:
db.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13938 entries, 0 to 13937
Data columns (total 41 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   id_mutation                   13938 non-null  object
 1   date_mutation                 13938 non-null  object
 2   numero_disposition            13938 non-null  object
 3   nature_mutation               13938 non-null  object
 4   valeur_fonciere               13938 non-null  object
 5   adresse_numero                13938 non-null  object
 6   adresse_suffixe               13938 non-null  object
 7   adresse_nom_voie              13938 non-null  object
 8   adresse_code_voie             13938 non-null  object
 9   code_postal                   13938 non-null  object
 10  code_commune                  13938 non-null  object
 11  nom_commune                   13938 non-null  object
 12  code_departement              13938 non-null  object
 13  ancien_code_commune           13938 non-null  object
 14  ancien_nom_commune            13938 non-null  object
 15  id_parcelle                   13938 non-null  object
 16  ancien_id_parcelle            13938 non-null  object
 17  numero_volume                 13938 non-null  object
 18  lot1_numero                   13938 non-null  object
 19  lot1_surface_carrez           13938 non-null  object
 20  lot2_numero                   13938 non-null  object
 21  lot2_surface_carrez           13938 non-null  object
 22  lot3_numero                   13938 non-null  object
 23  lot3_surface_carrez           13938 non-null  object
 24  lot4_numero                   13938 non-null  object
 25  lot4_surface_carrez           13938 non-null  object
 26  lot5_numero                   13938 non-null  object
 27  lot5_surface_carrez           13938 non-null  object
 28  nombre_lots                   13938 non-null  object
 29  code_type_local               13938 non-null  object
 30  type_local                    13938 non-null  object
 31  surface_reelle_bati           13938 non-null  object
 32  nombre_pieces_principales     13938 non-null  object
 33  code_nature_culture           13938 non-null  object
 34  nature_culture                13938 non-null  object
 35  code_nature_culture_speciale  13938 non-null  object
 36  nature_culture_speciale       13938 non-null  object
 37  surface_terrain               13938 non-null  object
 38  longitude                     13938 non-null  object
 39  latitude                      13938 non-null  object
 40  section_prefixe               13938 non-null  object
dtypes: object(41)
memory usage: 4.4+ MB

In [15]:
# to convert nan & None to 0
db.iloc[:, 18:28]=db.iloc[:, 18:28].replace('nan', 0)
db.iloc[:, 18:28]=db.iloc[:, 18:28].replace('None', 0)
db['surface_reelle_bati']=db['surface_reelle_bati'].replace('nan', 0)
db['surface_reelle_bati']=db['surface_reelle_bati'].replace('None', 0)

# to convert required columns to float64
db['lot1_surface_carrez'] = np.float64(db['lot1_surface_carrez'])
db['lot2_surface_carrez'] = np.float64(db['lot2_surface_carrez'])
db['lot3_surface_carrez'] = np.float64(db['lot3_surface_carrez'])
db['lot4_surface_carrez'] = np.float64(db['lot4_surface_carrez'])
db['lot5_surface_carrez'] = np.float64(db['lot5_surface_carrez'])
db['surface_reelle_bati'] = np.float64(db['surface_reelle_bati'])
db['valeur_fonciere'] = np.float64(db['valeur_fonciere'])

# adding new colum for the sum & compare to 'surface_reelle_bati'
db['surface_carrez_total']=db['lot1_surface_carrez']+db['lot2_surface_carrez']+db['lot3_surface_carrez']+db['lot4_surface_carrez']+db['lot5_surface_carrez']
db[['surface_reelle_bati','surface_carrez_total']].head(25)

    surface_reelle_bati  surface_carrez_total
0                  55.0                 57.40
1                 693.0                  0.00
2                   0.0                  0.00
3                 123.0                125.75
4                   6.0                  5.57
5                   0.0                  6.68
6                   0.0                  4.07
7                  54.0                 52.60
8                   0.0                  7.00
9                   0.0                  3.65
10                150.0                 46.53
11                150.0                119.01
12                 51.0                 50.83
13                  0.0                  0.00
14                 70.0                 66.30
15                 16.0                 15.94
16                  0.0                  0.00
17                 80.0                 80.62
18                  0.0                  0.00
19                 58.0                 58.75
20                  0.0                 10.75
21                  0.0                  8.74
22                 60.0                 60.62
23                  0.0                  0.00
24                 26.0                 19.04

In [16]:
db.groupby('type_local')['valeur_fonciere'].agg('mean')

type_local
Appartement                                 4.783064e+06
Dépendance                                  1.941525e+06
Local industriel. commercial ou assimilé    3.600050e+07
Maison                                      2.902322e+06
None                                        5.455339e+07
Name: valeur_fonciere, dtype: float64