# Import librairies

In [1]:
import pandas as pd
import numpy as np

# Get the data

We will first create dataframes for each year and then concatenate all years dataframes

We know from the presentation data file, that the data are very low before 2010, so we will extract only dataframes from year 2010

In [3]:
df_2010=pd.read_csv('/Users/Jeff/Ironhack/248_Repo/Projects/Final project/Oil/Data/donnees_produits petroliers_2010.csv', encoding = "ISO-8859-1", sep=';')

In [4]:
df_2010.shape

(111, 11)

In [5]:
df_2011=pd.read_csv('/Users/Jeff/Ironhack/248_Repo/Projects/Final project/Oil/Data/donnees_produits petroliers_2011.csv', encoding = "ISO-8859-1", sep=';')

In [6]:
df_2011.shape

(111, 11)

In [7]:
df_2012=pd.read_csv('/Users/Jeff/Ironhack/248_Repo/Projects/Final project/Oil/Data/donnees_produits petroliers_2012.csv', encoding = "ISO-8859-1", sep=';')

In [8]:
df_2012.shape

(111, 11)

In [9]:
df_2013=pd.read_csv('/Users/Jeff/Ironhack/248_Repo/Projects/Final project/Oil/Data/donnees_produits petroliers_2013.csv', encoding = "ISO-8859-1", sep=';')

In [10]:
df_2013.shape

(111, 11)

In [11]:
df_2014=pd.read_csv('/Users/Jeff/Ironhack/248_Repo/Projects/Final project/Oil/Data/donnees_produits petroliers_2014.csv', encoding = "ISO-8859-1", sep=';')

In [12]:
df_2014.shape

(111, 11)

In [13]:
df_2015=pd.read_csv('/Users/Jeff/Ironhack/248_Repo/Projects/Final project/Oil/Data/donnees_produits petroliers_2015.csv', encoding = "ISO-8859-1", sep=';')

In [14]:
df_2015.shape

(111, 11)

In [15]:
df_2016=pd.read_csv('/Users/Jeff/Ironhack/248_Repo/Projects/Final project/Oil/Data/donnees_produits petroliers_2016.csv', encoding = "ISO-8859-1", sep=';')

In [16]:
df_2016.shape

(111, 12)

In [18]:
df_2017=pd.read_csv('/Users/Jeff/Ironhack/248_Repo/Projects/Final project/Oil/Data/donnees_produits pâ€štroliers_2017.csv', encoding = "ISO-8859-1", sep=';', error_bad_lines=False)

b'Skipping line 97: expected 11 fields, saw 12\nSkipping line 98: expected 11 fields, saw 12\nSkipping line 99: expected 11 fields, saw 12\nSkipping line 100: expected 11 fields, saw 12\nSkipping line 101: expected 11 fields, saw 12\nSkipping line 102: expected 11 fields, saw 12\nSkipping line 103: expected 11 fields, saw 12\nSkipping line 104: expected 11 fields, saw 12\nSkipping line 105: expected 11 fields, saw 12\nSkipping line 106: expected 11 fields, saw 12\nSkipping line 107: expected 11 fields, saw 12\nSkipping line 108: expected 11 fields, saw 12\nSkipping line 109: expected 11 fields, saw 12\nSkipping line 110: expected 11 fields, saw 12\nSkipping line 111: expected 11 fields, saw 12\nSkipping line 112: expected 11 fields, saw 12\nSkipping line 114: expected 11 fields, saw 12\n'

In [19]:
df_2017.shape

(95, 11)

In [20]:
frames=[df_2010, df_2011, df_2012, df_2013, df_2014, df_2015, df_2016, df_2017]

In [21]:
# Create the concatenate dataframe
df_petrol=pd.concat(frames)

In [22]:
df_petrol.shape

(872, 12)

In [23]:
# Save the dataframe as a csv
df_petrol.to_csv('df_petrol.csv', sep='/', index=False)

# Data cleaning

## Missing values

In [24]:
df_petrol.isna().sum()

DEP                   0
REG                   0
ANNEE                 0
SUPER_PLOMBE        101
SUPER_SANS_PLOMB      7
GAZOLE                7
FOD                   7
FOL                   4
GNR                   7
GPL                 576
CARBUREACTEUR       865
SUPER_ETH_E85       667
dtype: int64

Missing values corresponds to 0 value, we will fullfill missing value with 0

In [44]:
df_petrol.fillna(0, inplace=True)

## Data types

In [27]:
df_petrol.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 872 entries, 0 to 94
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   DEP               872 non-null    object
 1   REG               872 non-null    object
 2   ANNEE             872 non-null    int64
 3   SUPER_PLOMBE      771 non-null    float64
 4   SUPER_SANS_PLOMB  865 non-null    object
 5   GAZOLE            865 non-null    float64
 6   FOD               865 non-null    float64
 7   FOL               868 non-null    float64
 8   GNR               865 non-null    float64
 9   GPL               296 non-null    float64
 10  CARBUREACTEUR     7 non-null      object
 11  SUPER_ETH_E85     205 non-null    float64
dtypes: float64(7), int64(1), object(4)
memory usage: 88.6+ KB

As we can see the column SUPER_PLOMBE and CARBUREACTEUR are objetc columns but they should be numeric, we will transfomr them into numeric

In [29]:
df_petrol[['SUPER_SANS_PLOMB','CARBUREACTEUR']]=df_petrol[['SUPER_SANS_PLOMB','CARBUREACTEUR']].apply(lambda x: x.str.replace(',','.'))

In [31]:
df_petrol[['SUPER_SANS_PLOMB','CARBUREACTEUR']]=df_petrol[['SUPER_SANS_PLOMB','CARBUREACTEUR']].apply(pd.to_numeric)

In [33]:
df_petrol['DEP'].unique()

array(['75', '77', '78', '91', '92', '93', '94', '95', '99', '18', '28',
       '36', '37', '41', '45', '21', '25', '39', '58', '70', '71', '89',
       '90', '14', '27', '50', '61', '76', '2', '59', '60', '62', '80',
       '8', '10', '51', '52', '54', '55', '57', '67', '68', '88', '44',
       '49', '53', '72', '85', '22', '29', '35', '56', '16', '17', '19',
       '23', '24', '33', '40', '47', '64', '79', '86', '87', '9', '11',
       '12', '30', '31', '32', '34', '46', '48', '65', '66', '81', '82',
       '1', '3', '7', '15', '26', '38', '42', '43', '63', '69', '73',
       '74', '4', '5', '6', '13', '83', '84', '2A', '2B', 'FR', 75, 77,
       78, 91, 92, 93, 94, 95, 99, 18, 28, 36, 37, 41, 45, 21, 25, 39, 58,
       70, 71, 89, 90, 14, 27, 50, 61, 76, 2, 59, 60, 62, 80, 8, 10, 51,
       52, 54, 55, 57, 67, 68, 88, 44, 49, 53, 72, 85, 22, 29, 35, 56, 16,
       17, 19, 23, 24, 33, 40, 47, 64, 79, 86, 87, 9, 11, 12, 30, 31, 32,
       34, 46, 48, 65, 66, 81, 82, 1, 3, 7, 15, 26, 38, 42, 43, 63],
      dtype=object)

As we can see, some of the values in the column are string and others are number, we will convert all the values as string

In [34]:
df_petrol['DEP']=df_petrol['DEP'].apply(str)

In [36]:
df_petrol.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 872 entries, 0 to 94
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   DEP               872 non-null    object
 1   REG               872 non-null    object
 2   ANNEE             872 non-null    int64
 3   SUPER_PLOMBE      771 non-null    float64
 4   SUPER_SANS_PLOMB  550 non-null    float64
 5   GAZOLE            865 non-null    float64
 6   FOD               865 non-null    float64
 7   FOL               868 non-null    float64
 8   GNR               865 non-null    float64
 9   GPL               296 non-null    float64
 10  CARBUREACTEUR     6 non-null      float64
 11  SUPER_ETH_E85     205 non-null    float64
dtypes: float64(9), int64(1), object(2)
memory usage: 88.6+ KB

## Departement name

We will add the departement name to the df

In [50]:
df_petrol.dep_code.unique()

array(['75', '77', '78', '91', '92', '93', '94', '95', '99', '18', '28',
       '36', '37', '41', '45', '21', '25', '39', '58', '70', '71', '89',
       '90', '14', '27', '50', '61', '76', '2', '59', '60', '62', '80',
       '8', '10', '51', '52', '54', '55', '57', '67', '68', '88', '44',
       '49', '53', '72', '85', '22', '29', '35', '56', '16', '17', '19',
       '23', '24', '33', '40', '47', '64', '79', '86', '87', '9', '11',
       '12', '30', '31', '32', '34', '46', '48', '65', '66', '81', '82',
       '1', '3', '7', '15', '26', '38', '42', '43', '63', '69', '73',
       '74', '4', '5', '6', '13', '83', '84', '2A', '2B', 'FR'],
      dtype=object)

As we can see, some department code only contain 1 number. We will add a 0 before the number for each department code which contain only a single number

In [56]:
df_petrol[(df_petrol.dep_code.str.len() < 2)].apply(lambda x: '0'+x)

TypeError: can only concatenate str (not "int") to str

In [37]:
# Import the dataframe with the name corresponding to the code for each departement
df_dep=pd.read_csv('/Users/Jeff/Ironhack/248_Repo/Projects/Final project/Area/df_dep.csv', sep='/')

In [38]:
df_dep.head()

  dep_code                 dep_name
0       02                    AISNE
1       03                   ALLIER
2       05             HAUTES-ALPES
3       04  ALPES-DE-HAUTE-PROVENCE
4       06          ALPES-MARITIMES

In [40]:
df_petrol.rename(columns={"DEP": "dep_code"}, inplace=True)

In [45]:
df_petrol_merge = pd.merge(df_petrol, df_dep, how='left', on=['dep_code'])

In [46]:
df_petrol_merge.isna().sum()

dep_code              0
REG                   0
ANNEE                 0
SUPER_PLOMBE          0
SUPER_SANS_PLOMB      0
GAZOLE                0
FOD                   0
FOL                   0
GNR                   0
GPL                   0
CARBUREACTEUR         0
SUPER_ETH_E85         0
dep_name            184
dtype: int64

In [48]:
df_petrol_merge[df_petrol_merge.isnull().any(axis=1)]

,dep_code,REG,ANNEE,SUPER_PLOMBE,SUPER_SANS_PLOMB,GAZOLE,FOD,FOL,GNR,GPL,CARBUREACTEUR,SUPER_ETH_E85,dep_name
8,99,11,2010,0.0,1248801.0,3517052.0,848178.0,118599.0,0.0,97789.0,0.0,0.0,NaN
15,99,24,2010,0.0,372211.9,1630353.0,874891.0,33379.0,0.0,137033.0,0.0,0.0,NaN
24,99,27,2010,0.0,395306.5,1862834.0,677837.0,60838.0,0.0,135029.0,0.0,0.0,NaN
30,99,28,2010,0.0,421654.2,1995542.0,726030.0,148570.0,0.0,161521.0,0.0,0.0,NaN
31,2,32,2010,0.0,59007.6,313076.0,104678.0,15536.0,0.0,0.0,0.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
849,9,76,2017,0.0,0.0,78093.0,13453.0,1007.0,9438.0,7721.0,0.0,168.0,NaN
862,99,76,2017,0.0,0.0,3236927.0,464409.0,21314.0,379436.0,169114.0,0.0,12106.0,NaN
863,1,84,2017,0.0,0.0,405342.0,81117.0,7913.0,33067.0,22171.0,0.0,642.0,NaN
864,3,84,2017,0.0,0.0,238932.0,49093.0,285.0,37322.0,13648.0,0.0,67.0,NaN
865,7,84,2017,0.0,0.0,138127.0,39330.0,1905.0,10328.0,13178.0,0.0,218.0,NaN